# Dependencies
node_modules/
!node_modules/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.production
.env.*.local

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Misc
.cache/
.temp/

